ao3-api @ git+https://github.com/AaronBenDaniel/ao3_api@d240c750efc5afd3e8414a7f759223658924b00e
beautifulsoup4==4.13.4
boltons==25.0.0
certifi==2025.7.9
charset-normalizer==3.4.2
dotenv==0.9.9
EbookLib==0.19
eliot==1.17.5
idna==3.10
lxml==6.0.0
orjson==3.11.5
pyrsistent==0.20.0
python-dotenv==1.1.1
requests==2.32.4
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
zope.interface==8.1.1
